<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#">Tasks</a></li>
      <% if logged_in? %>
        <% if @task.any? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>タイトル</th>
              <th>メッセージ</th>
            </tr>
          </thead>
          <tbody>
            <% @task.each do |task| %>
            <tr>
              <td><%= link_to task.id, task %></td>
              <td><%= task.content %></td>
              <td><%= task.status %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          
        <%#= paginate @tasks %>
        
        </div>
      
        <% end %>
    <% end %>
    </ul>
  </div>
</div>