<% if logged_in? %>
  <% if (@task.any?) %>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>メッセージ</th>
      </tr>
    </thead>
    <tbody>
      <% @task.each do |task| %>
      <tr>
        <td><%= link_to task.id, task %></td>
        <td><%= task.content %></td>
        <td><%= task.status %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <div>
    <%#= paginate @tasks %>
    </div>
  <% end %>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Tasklist</h1>
    <br>
    <%= link_to 'Login', login_path, class: 'btn btn-success' %>  
    <br>
    <br>
    New user?
    <br>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-primary' %>
    
  </div>
</div>
<% end %>